<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
    <title>{{ title }}</title>
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{> navbar}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                {{{ body }}}
            </div>
        </div>
    </div>
    {{> footer}}