<div class="content">
    <div>
        <h1>GREEN CARD</h1>
        <form action="/check" method="POST">
          <h3>Kodingizni kiriting</h3>
          <label for="code"></label>
          <input id="code" type="text" name="code" placeholder="Kod..."/>
          <button type="submit">Yuborish</button>
        </form>
    </div>
</div>