<div class="content">
    <div>
        <h1>GREEN CARD</h1>
    <form action="">
        <h3>Kodingiz: <span class="blue">{{code}}</span></h3>
        <p class="text">(Bu kodni saqlab qo'ying)</p>
        <h4>Telegram orqali biz bilan bog'laning</h4>
        <div class="message">
            <div class="telegram"><div><a href="https://t.me/dreamco_consultant" target="_blank"><i class="fab fa-telegram"></i></a></div></div>
        </div>
    </form>
    </div>
</div>